[submodule "SparkFun_ESP8266_AT_Arduino_Library"]
	path = SparkFun_ESP8266_AT_Arduino_Library
	url = https://github.com/MixaBot/SparkFun_ESP8266_AT_Arduino_Library.git
[submodule "Arduino-LiquidCrystal-I2C-library"]
	path = Arduino-LiquidCrystal-I2C-library
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
